<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Weather station</title>
    <!--   Imports   -->
    <!-- Materialize
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!--   Served  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='content_loader.js') }}"></script>

</head>

<body>
    <div class="container">
        <!--  Title row  -->
        <div class="row">
            <h1 align="center">Sense hat weatherstation</h1>
        </div>

        <!-- Current temp row  -->
        {% if humid and temp and pressure %}
        <div class="row">
            <div class="col l4 m4 s6">
                <div class="card red">
                    <div class="card-content">
                        <p>Temperature</p>
                        <p id="tempDisplay">{{ temp }}C</p>
                    </div>
                </div>
            </div>

            <div class="col l4 m4 s6">
                <div class="card blue">
                    <div class="card-content">
                        <p>Humidity</p>
                        <p id="humidDisplay">{{ humid }}%</p>
                    </div>
                </div>
            </div>

            <div class="col l4 m4 s6">
                <div class="card green">
                    <div class="card-content">
                        <p>Pressure</p>
                        <p id="pressureDisplay">{{ pressure }} mbar</p>
                    </div>
                </div>
            </div>
        <p>Data from: {{ time }}</p>

        {% else %}
        <p>No data to show...</p>
        {% endif %}
        </div>

        <!-- Graping section -->
        <h5 id="graph title" class="center-align">Climate graph</h5>
        <div class="row center-align">
            <img src="#" id="graph" >
        </div>

        <!-- Button row -->
        <div class="row center-align">
            <a type="button" class="btn waves-effect waves-light blue" onclick="load_graph(0, 12)">12 hr</a>
            <a type="button" class="btn waves-effect waves-light blue" onclick="load_graph(0, 24)">24 hrs</a>
            <a type="button" class="btn waves-effect waves-light blue" onclick="load_graph(7, 0)">7 days</a>
            <a class="btn waves-effect waves-light blue modal-trigger" href="#modal">Custom</a>
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <h4>Custom Graph</h4>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="days" type="number" class="validate">
                        <label for="days">Days</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="hours" type="number" class="validate">
                        <label for="hours">Hours</label>
                    </div>
                </div>

                <div class="row right-align">
                    <a type="button" class="btn waves-effect waves-light blue" onclick="load_custom_graph()">Load graph</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
